body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffcccb; /* Light pink background */
    color: #333;
    text-align: center;
}

.container {
    padding: 50px;
}

h1 {
    font-size: 2.5em;
    color: #ff66b2; /* A darker pink for the heading */
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #666;
}

.heart-container {
    margin: 20px 0;
    font-size: 3em; /* Adjust size of the emoji */
}


.button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    color: white;
    background-color: #ff66b2; /* Button color matching the pink theme */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #ff3399; /* Darker pink for hover effect */
}



